.user-redux-container {
  margin: 0 auto;

  .user-redux-body {
    .image-container {
      display: flex;
      .upload-image {
        .btn-upload {
          padding: 0 5px;
          background-color: #cccccc;
          text-align: center;
          cursor: pointer;
        }
      }
      .preview-image {
        height: 58px;
        width: 120px;
        margin-top: -16px;
        margin-left: 20px;
        background: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
}
