.section-specialty {
    height: 330px;
    background: #f5f5f5;
    border: 1px solid red;
}

.slick-prev {
    border: 1px solid green !important;
    position: relative;
    left: 0 !important;
    top: -3px !important
}

.slick-next {
    border: 1px solid red !important;
    right: 0 !important;
}
