// CSS Specialty
.section-specialty {
  background: #f5f5f5;

  .section-body {
    .specialty-item {
      height: 200px;
      padding: 0 5px;

      .specialty-img {
        background: url("../../assets/specialty/121305-cham-cuu.jpg");
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
      }
      .specialty-name {
        font-size: 15px;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}

// CSS Medical
.section-medical {
  background: #ffffff;
  .section-body {
    .medical-item {
      height: 200px;
      padding: 0 5px;

      .medical-img {
        background: url("../../assets/medical/152704logo-bvcr-moi.jpg");
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
      }
      .medical-name {
        font-size: 15px;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}

// CSS Doctor
.section-outstanding-doctor {
  background: #f5f5f5;
  .section-body {
    .outstanding-doctor-item {
      height: 200px;
      padding: 0 5px;
      .outstanding-doctor-name {
        font-size: 15px;
        text-align: center;
        padding: 10px 0;
      }
      .outstanding-doctor-facility {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

// CSS Handbook
.section-hand-book {
  background: #ffffff;
  .section-body {
    .hand-book-item {
      height: 200px;
      display: flex;
      flex-direction: column;

      .hand-book-back-ground {
        background: #ffcb34;
        margin: 0 10px;
        height: 190px;

        .hand-book-img {
          background: url("../../assets/handbook/151433-thumbnail-1.png");
          height: 190px;
          width: 333px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #eee;
          float: left;
        }
        .hand-book-name {
          font-size: 16px;
          text-align: center;
          float: right;
          width: 167px;
          font-weight: 600;
          padding: 10px 18px 0 0;
        }
      }
    }
  }
}

// CSS About
.section-about {
  height: 550px !important;
  display: flex;

  .section-body {
    display: flex;
    iframe {
      height: 400px;
      width: 50%;
    }
    .about-description {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 10px;
    }
  }
}

// CSS Share
.section-share {
  height: 330px;

  .section-container {
    margin: 20px 100px;
    display: flex;
    flex-direction: column;

    .section-header {
      margin: 10px 4px;
      padding: 20px 0;

      .section-title {
        font-size: 20px;
        font-weight: 600;
      }
      .btn-view-more {
        font-size: 14px;
        text-transform: uppercase;
        float: right;
        padding: 5px 10px;
        border: none;
        outline: none;
        background: #ebebeb;
        cursor: pointer;

        &:hover {
          color: #fff;
          background-color: #f7d800;
        }
      }
    }
    .section-body {
    }
  }
}

// Reset slick slider css
.slick-prev {
  top: 80px !important;
  border: 2px solid #d7d7d7 !important;
  left: -10px !important;
  height: 48px !important;
  width: 44px !important;
  background: #000 url("../../assets/images/arrow-left.png") center center
    no-repeat !important;
  z-index: 1000 !important;
  opacity: 0.3;
}
.slick-prev:before {
  color: transparent !important;
  background: #000 url("../../assets/images/arrow-left.png") center center
    no-repeat !important;
  content: "";
}
.slick-next:before {
  font-family: FontAwesome !important;
  color: transparent !important;
  background: #000 url("../../assets/images/arrow.png") center center no-repeat !important;

  content: "";
}
.slick-next {
  top: 80px !important;
  border: 2px solid #d7d7d7 !important;
  background: #000 url("../../assets/images/arrow.png") center center no-repeat !important;
  height: 48px !important;
  width: 44px !important;
  right: -10px !important;
  z-index: 1000 !important;
  opacity: 0.3;
}
