@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .languages {
    display: flex;
    align-items: center;
    justify-content: center;
    .flash {
      margin-top: -3px;
    }

    .language-vi,
    .language-en {
      margin: 0 5px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      color: white;
      opacity: 0.5;
      &:hover {
        color: rgb(107, 205, 218);
      }
      &.active {
        opacity: 1;
        span {
          color: white;
          font-size: 18px;
        }
      }
    }
    .btn-logout {
      color: $common-text-color;
      line-height: 40px;
      height: 40px;
      padding: 0 10px;
      &:hover {
        background-color: darken($colormain, 5);
      }
      i {
        font-size: $base-size + 1px;
      }
    }
  }
}